#button {
      -fx-background-color: #588C7E;
      -fx-border-style: solid;
      -fx-border-color: #F2AE72;
      -fx-border-width: 0.4em;
}

#button:hover {
      -fx-background-color: #F2AE72;
      -fx-border-color: #588C7E;
      -fx-cursor: hand;
      -fx-scale-x: 1.1;
      -fx-scale-y: 1.1;
}

#button:pressed {
      -fx-background-color: white;
      -fx-border-color: #588C7E;
      -fx-scale-x: 1;
      -fx-scale-y: 1;
}

#border {
      -fx-background-color: #8C4646;
      -fx-border-style: solid;
      -fx-border-color: black;
      -fx-border-width: 0.8em;
      -fx-padding: 10px;
}